<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="col-md-8 order-md-1">
<h2>Create new product</h2>
    <form class="needs-validation" action="/create" method="post">
        <div class="row col-md-12 mb-3">
            <input type="text" class="form-control" name="name" placeholder="Produktnavn">
        </div>
        <div class="row col-md-12 mb-3">
            <input type="number" class="form-control" name="price" placeholder="Pris på produkt">
        </div>
        <div class="row col-md-12 mb-3">
            <input type="text" class="form-control" name="description" placeholder="Produktbeskrivelse">
        </div>
        <div class="row col-md-12 mb-3">
            <input type="text" class="form-control" name="category" placeholder="Produktkategori">
        </div>
        <div class="row col-md-12 mb-3">
            <input type="text" class="form-control" name="company" placeholder="Producent">
        </div>
        <div class="row col-md-12 mb-3">
            <input class="form-control" type="submit" value="send">
        </div>
    </form>
</div>

</body>
</html>