<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Varekatalog</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <h2>Liste over varer i kataloget</h2>
</div>
<div class="col-md-8">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Pris</th>
            <th>Beskrivelse</th>
        </tr>
        <tr th:each="product : ${prod}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td><a th:href="@{'/produktside/' + ${product.id}}">Se produktdetaljer</a></td>
            <td><a th:href="@{'/update/' + ${product.id}}">Opdater</a></td>
            <td><a th:href="@{'/delete/' + ${product.id}}">Slet</a></td>

        </tr>
    </table>
</div>
<div class="container-fluid">
    <a href="create">Tilføj produkt til listen</a>
</div>
</body>
</html>